.card{
  height: fit-content;
  width: fit-content;
  margin: 1.2rem auto;
  border: 2px solid black;
  border-radius: 1.1rem;
  padding: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: wheat;
  font-weight: 1.2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card div{
  margin: 0.9rem;
  font-size: 1.2rem;
  font-style: oblique;
}
img{
  border-radius: 50%;
  background-color: black;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.Search{
  display: flex;
  flex-direction: column;
  margin: 0 3rem 3rem 3rem;
  padding: 0.2rem;
  align-items: center;
}
.Search button{
  padding: 1.2rem;
  font-size: 1.2rem;
  font-style: oblique;
}
#SearchBox{
  margin: auto;
}
input{
  margin: 1.5rem 0;
  padding: 1.2rem;
  border-radius: 1.1rem 0 0 1.1rem;
  font-size: 1.2rem;
  font-style: oblique;
  background-color: wheat;
}
#SavedCity{
  display: flex;
  justify-content:space-around;
}
button{
  background-color: black;
  color: white;
  border-radius: 0 1.1rem 1.1rem 0;
}